@page
@model MyWebSite.Pages.Exercise2DiceRollerModel
@{
    int randomNumber = new Random().Next(1, 7); //GENERATES NUMBER BETWEEN 1 and 6

    int winningNumber = new Random().Next(1, 7);

    string message;

    if (randomNumber != winningNumber)
    {
        message = "You did not Win Kenneth...";
        <div class="alert alert-danger" role="alert">
            <h2>@message</h2>
        </div>
    }
    else
    {
        message = "You WIN Kenneth!";
        <div class="alert alert-success" role="alert">
            <h2>@message</h2>
        </div>
    }
}

<div>
    <p>You Got: @randomNumber</p>
    <p>The Winning Number was: @winningNumber</p>

    @if (randomNumber != winningNumber)
    {
        <p>Close! Off by only <b>@Math.Abs(randomNumber - winningNumber)</b></p>
    }
</div>